// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row
{
	float: left;
	width: 22%;
	height: 20%;
	margin-left: 3%;
}

#bouton
{
	margin-left: 40%;
	margin-top: 5%;
	margin-bottom : 5%;
}

#show_site
{
	width: 60%;
	margin-left: 20%;
}