// Place all the styles related to the Voyages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#voyage
{
	width: 20%;
	margin-left: 40%;
	margin-top:  3%;
}

#t_voy
{
	margin-left: 40%;
	margin-top: 3%;
}